# .gitignore whitelist: https://stackoverflow.com/a/9227991/13695737

*
!*/

!/.gitignore

!/alacritty/**

!/git/**

!/nixos/**

!/nvim/**
/nvim/plugin

!/hypr/**
!/waybar/**
!/eww/**
!/clipcat/**

!/README.md

!/init.sh
!/initinit.sh

result
