# .gitignore whitelist: https://stackoverflow.com/a/9227991/13695737

*
!*/

!/.gitignore

!/alacritty/**
!/kitty/**

!/git/**

!/nixos/**

!/nvim/**

!/hypr/**
hypr/host.conf

!/waybar/**
!/eww/**
!/clipcat/**
!/rofi/**

!/README.md

!/init.sh
!/initinit.sh

JetBrains

result

